<style>

  body {
  margin: 0;
}

.item-center {
  display: grid;
  place-items: center;
  background-color: #DDDAC8;
  height: 100vh;
  padding: 10px;
}

.blue-square {
  background-color: #B2B4B1;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
</style>

<div class="item-center">
  <div class="blue-square">
  </div>
</div>
